<div class="bootstrap-tagsinput">
    <span class="badge badge-info">суперкнига<span data-role="remove"></span></span>
    <span class="badge badge-info">программирование<span data-role="remove"></span></span>
    <input type="text" name="" placeholder="">
</div>