<div class="form-group row">
    <label for="inputTags" class="col-sm-2 col-form-label text-right">Теги</label>
    <div class="col-sm-10">
        <!-- <input type="text" class="form-control" id="inputPatronymic" placeholder="#Теги через запятую"> -->
        <select multiple="multiple" data-role="tagsinput" style="display: none;" id="inputTags">
            <option value="суперкнига" selected="selected">суперкнига</option>
            <option value="программирование" selected="selected">программирование</option>
        </select>
    </div>
</div>